<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWKRVOSa-EyIw08We82sRsT3fESp-9GXE</string>
	<key>GCM_SENDER_ID</key>
	<string>614795150824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloneighbor</string>
	<key>PROJECT_ID</key>
	<string>hello-neighbor-a491f</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-neighbor-a491f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614795150824:ios:3d832e904c52848852d05d</string>
</dict>
</plist>